body{
    background-color:black ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.content{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(146, 64, 201);
    border-radius: 5px;
    border: rgb(93, 93, 244) 1px solid;
    padding: 10px;
}
.content > div{
     border: black 3px solid;
     padding: 10px;
     border-radius: 5px;
     background-color: white;
}